{% extends 'admin/add_screening.html' %}
{% block additional_content %}
<div class="container">
    <h2>Add screening for movie: {{ movie_name}}</h2>
    <a class="btn btn-secondary" href="{{ url_for('admin.add_screening') }}">Back</a>
    <form method="POST" action="{{ url_for('admin.add_screening_by_id', movie_id=movie_id) }}" enctype="multipart/form-data">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="screening_date" class="form-label">Screening Date:</label>
                <input type="date" name="screening_date" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label for="start_time" class="form-label">Start Time:</label>
                <select name="start_time" class="form-control" required>
                    {% for hour in range(8, 23) %}
                        {% for minute in ['00', '30'] %}
                            <option value="{{ '%02d:%s' % (hour, minute) }}">{{ '%d:%s %s' % (hour % 12, minute, 'AM' if hour < 12 else 'PM') }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="hall" class="form-label">Hall:</label>
                <select name="hall" class="form-control" required>
                    <option value="1">Hall1</option>
                    <option value="2">Hall2</option>
                    <option value="3">Hall3</option>
                    <option value="4">Hall4</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="price" class="form-label">Price:</label>
                <select name="price" class="form-control" required>
                    {% for price in range(10, 155, 5) %}
                        <option value="{{ price }}">{{ price }} NZD</option>
                    {% endfor %}
                </select>
            </div>            
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
