{% extends 'base.html' %}
{% block content %}

<div class = "container">

    <h1>Create an account</h1>
    <p>* all required fields</p>
    <form action="{{ url_for('home.register') }}" method="POST">
        <div class="input-group">
			<label for="username"><i class="fas fa-user"></i></label>
			<div>
				<input type="text" name="username" placeholder="* User Name" id="user_name" required pattern="[a-zA-Z]+" required>
			</div>
		</div>
        <div class="input-group">
			<label for="password"><i class="fas fa-lock"></i></label>
            <div>
				<input type="password" name="password" placeholder="* Password" id="password" required>
            </div>
        </div>
		<div class="input-group">
			<label for="name"><i class="fas fa-font"></i></label>
			<div>
				<input type="text" name="name" placeholder="* Name" id="name" required pattern="[a-zA-Z ]+" required>
			</div>
		</div>

        <div class="input-group">		
            <label for="email"><i class="fas fa-envelope"></i></label>
            <div>
				<input type="email" name="email" placeholder="Email" id="email" required>
            </div>
        </div>
        <div class="input-group">		
            <label for="phone"><i class="fas fa-phone"></i></label>
            <div>
				<input type="phone" name="phone" placeholder="phone" id="phone">
            </div>
        </div>
        <div class="input-group">		
            <label for="address"><i class="fas fa-map-marker"></i></label>
            <div>
				<input type="address" name="address" placeholder="address" id="address">
            </div>
        </div>
        <div class="input-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="confirm_checkbox" required>
                <label class="form-check-label" for="confirm_checkbox">
                    By registering, I accept terms and conditions.
                </label>
            </div>
        </div>
        <input type="submit" name="btn_register" value="Register">
    </form>
    <!-- Link for users who are already registered -->
    <p>Already a member?<a href="/home/login"><b>Log in here.</b></a></p>
</div>

{% endblock %}

